{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />

    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
</head>
<body style="background-color:#2f2fa2">
<section class="section">
    <div class="column is centered">
    <div class="column is-6 is-offset-3">
<form class="box" method="post">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tag %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="title">login</h1>
    <div class="field"><div class="control">{{form.username}}</div> </div>
    <div class="field"><div class="control">{{form.password}}</div> </div>

    <input type="submit" value="submit">
    <br/>
    <a href="{% url 'signin' %}">sign-in</a>
</form>
        </div>
        </div>
    </section>
</body>
