<html>
<head>{% load static %}
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
</head>
<body>
<script>
    function drop1()
    {
    document.getElementById("usermenu").classList.toggle("is-active")
    }</script>
<nav class="navbar" style="background-color:black">
    <div class="navbar-end">
        {% if user.username %}
        <div class="navbar-item has-dropdown is-hoverable">

            <a class="navbar-link" style="color:green"><img src="{{userimg.url}}" style="margin-right:5%"/> {{user.username}}</a>
            <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'logout' %}">
            Logout
          </a>
            </div>
        {% endif %}
        </div>
    </div>
</nav><h1 class="title">{{match.team1}}  VS  {{match.team2}}</h1>
<h1 class="subtitle" >runs-{{score1}}   --  {{score2}}</h1>
<h1 class="subtitle" >extrasconceded-{{extra1}}   --  {{extra2}}</h1>

<p>toss won by {{match.tosswinner}}</p>
<p>man of th match {{match.player_of_match}}</p>
<p>decide to {{match.toss_decision}}</p>
<p>match won by {{match.winner}}</p>
<div class="card">
    <h1 class=" card-header-title">top batsman</h1>
<ol>
{% for p in runs %}
<li>
    {{p.team}}--{{p.player}}--{{p.runs}}
</li>
    {% endfor %}
</ol>
<div class="card">
    <h1 class=" card-header-title">top bowlers</h1>
<ol>
{% for p in wickets %}
<li>
   {{p.team}}--{{p.player}}--{{p.wickets}}
</li>
    {% endfor %}
</ol>
</div>

</div>
{% if result %}
<button class="button" onclick="myfunction()" value="1" >first innings</button><button class="button"onclick="myfunction()" value="2">second innings</button>
{% else %}
<button class="button" onclick="myfunction()" value="1">first innings</button><button class="button" onclick="myfunction()" value="2">second innings</button>
<button class="button" onclick="myfunction()" value="3">third innings</button><button class="button" onclick="myfunction()" value="4">fourth innings</button>
{% endif %}
<div id="1">
<table class="table" style="margin:5%">
    <caption class="title">{{b1}} are batting</caption><tr>

    <th>ball</th>
    <th>balltype</th>
    <th >batsman</th>
    <th >nonstricker</th>
    <th >bowler</th>
    <th >runs</th>
    <th >player dismissed</th>
    <th >dismissalkind</th>
    <th >fielder</th>
    </tr>
{% for ball in list1 %}

    <tr>

        <td >{{ball.over}}.{{ball.ball}}</td>
        <td>{% if ball.wide_runs %} wide {% elif ball.bye_runs %} bye {% elif ball.legbye_runs %}leg-bye {% elif ball.noball_runs %} no-ball{% elif ball.bighit %}{{ball.bighit}}{% else %}regular{% endif %} </td>
        <td >{{ball.batsman}}</td>
        <td >{{ball.non_stricker}}</td>
        <td >{{ball.bowler}}</td>
        <td >{{ball.totalruns_runs}}</td>
        <td >{{ball.player_dismissed}}</td>
        <td >{{ball.dismissal_kind}}</td>
        <td >{{ball.fielder}}</td>
    </tr>
    {% endfor %}

</table>
</div>
<div id="2">
<table class="table" style="margin:5%">
    <caption class="title">{{b2}} are batting</caption><tr>

    <th>ball</th>
    <th>balltype</th>
    <th >batsman</th>
    <th >nonstricker</th>
    <th >bowler</th>
    <th >runs</th>
    <th >player dismissed</th>
    <th >dismissalkind</th>
    <th >fielder</th>
    </tr>
{% for ball in list2 %}

    <tr>

        <td >{{ball.over}}.{{ball.ball}}</td>
        <td>{% if ball.wide_runs %} wide {% elif ball.bye_runs %} bye {% elif ball.legbye_runs %}leg-bye {% elif ball.noball_runs %} no-ball{% elif ball.bighit %}{{ball.bighit}}{% else %}regular{% endif %} </td>
        <td >{{ball.batsman}}</td>
        <td >{{ball.non_stricker}}</td>
        <td >{{ball.bowler}}</td>
        <td >{{ball.totalruns_runs}}</td>
        <td >{{ball.player_dismissed}}</td>
        <td >{{ball.dismissal_kind}}</td>
        <td >{{ball.fielder}}</td>
    </tr>

    {% endfor %}
</table>
</div>

{% if list3 %}
<div id="3">
<table class="table" style="margin:5%">
    <caption class="title">{{b2}} are batting</caption><tr>

    <th>ball</th>
    <th>balltype</th>
    <th >batsman</th>
    <th >nonstricker</th>
    <th >bowler</th>
    <th >runs</th>
    <th >player dismissed</th>
    <th >dismissalkind</th>
    <th >fielder</th>
    </tr>
{% for ball in list3 %}

    <tr>

        <td >{{ball.over}}.{{ball.ball}}</td>
        <td>{% if ball.wide_runs %} wide {% elif ball.bye_runs %} bye {% elif ball.legbye_runs %}leg-bye {% elif ball.noball_runs %} no-ball{% elif ball.bighit %}{{ball.bighit}}{% else %}regular{% endif %} </td>
        <td >{{ball.batsman}}</td>
        <td >{{ball.non_stricker}}</td>
        <td >{{ball.bowler}}</td>
        <td >{{ball.totalruns_runs}}</td>
        <td >{{ball.player_dismissed}}</td>
        <td >{{ball.dismissal_kind}}</td>
        <td >{{ball.fielder}}</td>
    </tr>

    {% endfor %}
</table>
    </div>
<div id="4">
<table class="table" style="margin:5%">
    <caption class="title">{{b1}} are batting</caption><tr>
    <th>ball</th>
    <th>balltype</th>
    <th >batsman</th>
    <th >nonstricker</th>
    <th >bowler</th>
    <th >runs</th>
    <th >player dismissed</th>
    <th >dismissalkind</th>
    <th >fielder</th>
    </tr>
{% for ball in list4 %}

    <tr>

        <td >{{ball.over}}.{{ball.ball}}</td>
        <td>{% if ball.wide_runs %} wide {% elif ball.bye_runs %} bye {% elif ball.legbye_runs %}leg-bye {% elif ball.noball_runs %} no-ball{% elif ball.bighit %}{{ball.bighit}}{% else %}regular{% endif %} </td>
        <td >{{ball.batsman}}</td>
        <td >{{ball.non_stricker}}</td>
        <td >{{ball.bowler}}</td>
        <td >{{ball.totalruns_runs}}</td>
        <td >{{ball.player_dismissed}}</td>
        <td >{{ball.dismissal_kind}}</td>
        <td >{{ball.fielder}}</td>
    </tr>

    {% endfor %}
</table>

</div>
    {% endif %}

</body>
<script>
var cur="1"
function hideothers()
{
var x = document.getElementById("2");
    x.style.display = "none";
var x = document.getElementById("3");
    x.style.display = "none";
var x = document.getElementById("4");
    x.style.display = "none";

}

function myfunction() {
  var x = document.getElementById(cur);
    x.style.display = "none";
    cur=event.target.value;
    var x = document.getElementById(cur);
    x.style.display = "block";

}


window.onload=hideothers()
</script>


</html>