<html>
<head>{% load static %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
</head>
<body>
<script>
    function drop()
    {
    document.getElementById("menu").classList.toggle("is-active")
    }</script>
<nav class="navbar" style="background-color:black">
    <a class="navbar-item"style="color:green" href="{% url 'season' %}">seasons</a>
    <a class="navbar-item"style="color:green" href="{% url 'pointyear' currentseason %}">pointlist</a>
    <div class="navbar-end">
        {% if user.username %}
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" style="color:green"><img src="{{userimg.url}}" style="margin-right:5%"/> {{user.username}}</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'logout' %}">
                Logout
                </a>
            </div>
        </div>
        {% else %}
        <a class="navbar-item" href="{% url 'login' %}"style="color:green"><strong>Login</strong></a>
        {% endif %}
    </div>
</nav>
<div class="dropdown" id="menu">
  <div class="dropdown-trigger" onclick="drop()">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Select season</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
        {% for ses in seasons %}
      <a href="{% url 'pointyear' ses %}" class="dropdown-item">
{{ses}}
      </a>
        {% endfor %}

    </div>
  </div>
</div>

    <table class="table column is-offset-4 is-4">
        <caption class="title">points of {{currentseason}}</caption>
        <tr>
            <th>team</th>
            <th>points</th></tr>
        {% for team in table %}
        <tr>
            <td>{{team.team}}</td>
            <td>{{team.score}}</td></tr>

    {% endfor %}
        </table>
</body>

</html>