<html>
<head>{% load static %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
</head>
<body>
<script>
    function drop()
    {
    document.getElementById("menu").classList.toggle("is-active")
    }
    function drop1()
    {
    document.getElementById("usermenu").classList.toggle("is-active")
    }
</script>
<nav class="navbar" style="background-color:black">

    <a class="navbar-item"style="color:green" href="{% url 'season' %}">seasons</a>
    <a class="navbar-item"style="color:green" href="{% url 'pointyear' currentseason %}">pointlist</a>
    <div class="navbar-end">
        {% if user.username %}
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" style="color:green"><img src="{{userimg.url}}" style="margin-right:5%"/> {{user.username}}</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="{% url 'logout' %}">
                Logout
                </a>
            </div>
        </div>
        {% else %}
        <a class="navbar-item" href="{% url 'login' %}"style="color:green"><strong>Login</strong></a>
        {% endif %}
    </div>
</nav>
<div class="dropdown" id="menu">
  <div class="dropdown-trigger" onclick="drop()">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Select season</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
        {% for ses in seasons %}
      <a href="{% url 'seasonyear' ses %}" class="dropdown-item">
{{ses}}
      </a>
        {% endfor %}

    </div>
  </div>
</div>

{% for page in pages %}
<div id="{{page.pageno}}">
<table class="table" style="margin:5%;margin-bottom:0%">
    <caption class="title">Season of {{currentseason}}</caption><tr>
    <th style="width:9%">team1</th>
    <th style="width:9%">team2</th>
    <th style="width:9%">venue</th>
    <th style="width:9%">tossresult</th>
    <th style="width:9%">decision</th>
    <th style="width:9%">winner</th>
    <th style="width:9%">man of the match</th>
    </tr>
{% for match in page.page %}
    <tr>
        <td style="width:9%">{{match.team1}}</td>
        <td style="width:9%">{{match.team2}}</td>
        <td style="width:9%">{{match.venue}}</td>
        <td style="width:9%">{{match.tosswinner}}</td>
        <td style="width:9%">{{match.toss_decision}}</td>
        <td style="width:9%">{{match.winner}}</td>
        <td style="width:9%">{{match.player_of_match}}</td>
        <td style="width:9%"><a class="button" href="{% url 'match' match.matchid %}">view</a></td></tr>
{% endfor %}
</table>
</div>
{% endfor %}
<div style="width:80%;margin:10%;margin-top:2%">
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <button class="pagination-previous" title="This is the first page" disabled onclick="previous()">Previous</button>
  <button class="pagination-next"disabled  onclick="next()">Next page</button>
  <ul class="pagination-list">
    {% for page in pages %}
    <li>
      <button class="pagination-link " value="{{page.pageno}}" id="b{{page.pageno}}" aria-label="Page 1" aria-current="page" onclick="jump()">{{page.pageno}}</button>
    </li>
{% endfor %}
  </ul>
</nav>
</div>
</body>

<script>
var cur='0'
var l=[]
function hideothers()
{
{% for page in pages %}
l.push({{page.pageno}})
var x = document.getElementById({{page.pageno}});
x.style.display="none"
var b=document.getElementById('b'+{{page.pageno}});
b.innerHTML=parseInt(b.value)+1
{% endfor %}
var x = document.getElementById(cur);
x.style.display="block"
var b=document.getElementById('b'+cur);
b.classList.toggle("is-current")
}

function jump()
{

var b=document.getElementById('b'+cur);
b.classList.toggle("is-current")
  var x = document.getElementById(cur);
    x.style.display = "none";
    cur=event.target.value;
    var x = document.getElementById(cur);
    x.style.display = "block";

var b=document.getElementById('b'+cur);
b.classList.toggle("is-current")
}

window.onload=hideothers()
</script>
</html>