{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />

    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
</head>
<body style="background-color:#2f2fa2">
<section class="section">
    <div class="column is centered">
    <div class="column is-6 is-offset-3">
<form class="box" method="post">
    {% csrf_token %}
    <h1 class="title">signin</h1>
    {{form}}
    {{image}}

    <input type="submit" value="submit">
    <br/>
    <a href="{% url 'login' %}">login</a>
</form>
        </div>
        </div>
    </section>
</body>
