{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<form class="box" method="post">
    <h1 class="title">{{title}}</h1>
{% csrf_token %}
    {{form}}
    <input type="submit" class="button" ></form>
    {% endblock %}