<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}

    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
<link rel="stylesheet" href="{% static 'tabstyle.css' %}"/>
<script src="https://kit.fontawesome.com/6a3b441825.js"></script>
    <script>
        function locationHasChanged() {
  document.forms["myform"].submit();


}
window.onbeforeunload = locationHasChanged;
    </script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>