{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<a class="button" href="{% url 'addlist' %}">add</a>
<table class="table">
{% for list in todo_lists %}
    <tr>
        <td><a href="{% url 'listsid' list.id %}">{{list.name}}</a></td>
        <td>{{list.created}}</td>
        <td><a href="{% url 'editlist' list.id %}">edit</a> </td>
         <td><a href="{% url 'deletelist' list.id %}">delete</a> </td>
    </tr>
    {% endfor %}
</table>
<a class="button" href="{% url 'logout' %}">logout</a>
{% endblock %}