{% extends "base.html" %}
{% block title %}{{title.name}}{% endblock %}
{% block content %}

<form class="box" method="post" id="myform" name="='myform">
    <a class="button" href="{% url 'additem' title.id %}">add</a>
{% csrf_token %}
<table class="table">
{% for item in item_list %}
    <tr>
        <td>{{item.description}}</td>
        <td><input type="checkbox" name="{{item.id}}" {% if item.completed %} checked="true" {% endif %} >completed</td>
        <td>
        {% if item.due_date %}
        {{item.due_date}}</td>
        {% endif %}
        <td><a href="{% url 'edititem' title.id item.id %}">edit</a> </td>
         <td><a href="{% url 'deleteitem' title.id item.id %}">delete</a> </td>
    </tr>
    {% endfor %}
</table>
    <a class="button" href="{% url 'lists' %}">back</a>
    <input type="submit" value="save">
    <a class="button" href="{% url 'logout' %}">logout</a>
    </form>

{% endblock %}