{% extends "base.html" %}
{% block title %}{{title.name}}{% endblock %}
{% block content %}
<section class="section">
    <div class="column is centered">
    <div class="column is-6 is-offset-3">
<form class="box" method="post">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tag %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1 class="title">login</h1>
    <div class="field"><div class="control">{{form.username}}</div> </div>
    <div class="field"><div class="control">{{form.password}}</div> </div>

    <input type="submit" value="submit">
    <br/>
    <a href="{% url 'signin' %}">sign-in</a>
</form>
        </div>
        </div>
    </section>
{% endblock %}