{% extends "base.html" %}
{% block title %}{{title.name}}{% endblock %}
{% block content %}
<section class="section">
    <div class="column is centered">
    <div class="column is-6 is-offset-3">
<form class="box" method="post">
    {% csrf_token %}
    <h1 class="title">signin</h1>
    <div class="field"><div class="control">{{form.Firstname}}</div> </div>
    <div class="field"><div class="control">{{form.lastname}}</div> </div>
<div class="field"><div class="control">{{form.username}}</div> </div>
    <div class="field"><div class="control">{{form.password}}</div> </div>

    <input type="submit" value="submit">
    <br/>
    <a href="{% url 'login' %}">login</a>
</form>
        </div>
        </div>
    </section>
{% endblock %}