{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'onlinapp/bulma.css' %}" /></head>
<body style="background-color:#2f2fa2">
<nav class="navbar"style="background-color:#242582">

<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           <a style="color:white;background-color:#f64c72" class="button" href="{% url 'logout' %}">
              <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
</nav>

<section class="section">
    <div class="column is centered">
    <div class="column is-6 is-offset-3">
<form class="box" method="post">
    {% csrf_token %}
    <h1 class="title">add colleges</h1>
    <div class="field"><div class="control">{{form.name}}</div> </div>
    <div class="field"><div class="control">{{form.location}}</div> </div>
    <div class="field"><div class="control">{{form.acronym}}</div> </div>
    <div class="field"><div class="control">{{form.contact}}</div> </div>

    <input type="submit" value="submit">
</form>
        </div>
        </div>
    </section>
</body>
