{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'onlinapp/bulma.css' %}" /></head>
<body style="background-color:#2f2fa2">
<nav class="navbar"style="background-color:#242582">

<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           <a style="color:white;background-color:#f64c72" class="button" href="{% url 'logout' %}">
              <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
</nav>

<section class="section">

<div class="container">
    <div class="column is-6 is-offset-3">
<form class="box"  method="post">
    {% csrf_token %}
    <h1 class="title">add student</h1>
    <div class="field"><div class="control">{{form1.name}}</div> </div>
    <div class="field"><div class="control">{{form1.email}}</div></div>
        <div class="field"><div class="control">{{form1.db_folder}}</div></div>
        <div class="field"><div class="control">{{form2.problem1}}</div></div>
        <div class="field"><div class="control">{{form2.problem2}}</div></div>
        <div class="field"><div class="control">{{form2.problem3}}</div></div>
        <div class="field"><div class="control">{{form2.problem4}}</div></div>
    <div class="field"><div class="control"><label for="{{form1.dropped_out.id_for_label}}">dropped out</label>{{form1.dropped_out}}</div></div>
    <input type="submit" value="submit">
    </form>
        </div>
    </div>
</section>
</body>