{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'onlinapp/bulma.css' %}" />
<link rel="stylesheet" href="{% static 'onlinapp/tabstyle.css' %}"/>
<script src="https://kit.fontawesome.com/6a3b441825.js"></script>
    <title>
        {{title}}
    </title>
</head>
<body style="background-color:#2f2fa2">
<nav class="navbar"style="background-color:#242582">
    <div class="navbar-item">
        {% if 'onlinapp.add_college' in permissions %}
        <a style="color:#f64c72;background-color:#242582;border-color:#f64c72" class=" button " href = "{% url 'addcollege' %}"><strong>add college</strong></a>
    {% endif %}
    </div>
<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a style="color:white;background-color:#f64c72" class="button" href="{% url 'logout' %}">
              <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
</nav>
<center><h1 style="color:#f64c72" class="title">List of all colleges</h1>
</center>

    {% if college_list %}
<div class="column is-6 is-offset-3">
    <table class="table  box">
        <tr><th style="width:25vw">college name</th><th>acronym</th><th>options</th></tr>
    {% for col in college_list %}
<!--        <tr><td>{{col.name}}</td><td><a href="http://127.0.0.1:8000/onlineapp/student_of_college/{{col.id}}/">{{col.acronym}}</a></td></tr>-->
        <tr><td style="width:25vw">{{col.name}}</td><td><a href="{% url 'getcolleges' col.id %}">{{col.acronym}}</a></td>
            <td>
                {% if 'onlinapp.change_college' in permissions %}
                <a href="{% url 'getcolleges' col.id %}/edit/">edit <i class="far fa-edit"> </i></a>|{% endif %}
                {% if 'onlinapp.delete_college' in permissions %}
                <a href="{% url 'getcolleges' col.id %}/delete/"> delete <i class="fas fa-trash"></i></a>{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>
{% else %}
    <p>No colleges are available.</p>
{% endif %}
</body>