{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'onlinapp/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'onlinapp/tabstyle.css' %}"/>

    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/6a3b441825.js"></script>
</head>
<body style="background-color:#2f2fa2">
<nav class="navbar" style="background-color:#242582">
    <div class="navbar-item">
        {% if 'onlinapp.add_student' in permissions %}
        <a style="color:#f64c72;background-color:#242582;border-color:#f64c72" class=" button" href="{{request.path}}/addstudent"><strong>add student</strong></a>
    {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           <a style="color:white;background-color:#f64c72" class="button" href="{% url 'logout' %}">
              <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>

</nav>
<center>
<h1 class="title"style="color:f64c72">students of {{title}}</h1>
</center>
    <div class="column is-10 is-offset-1 is-centered">
{% if student_list %}
    <table class="table box">

        <tr><th style="width:25vw">student name</th><th style="width:25vw">email</th><th style="width:10vw">dbfolder</th><th>score</th><th>actions</th></tr>
    {% for stu in student_list %}
        <tr>
        <td style="width:25vw">{{stu.name}}</td>
        <td style="width:25vw">{{stu.email}}</td>
        <td style="width:10vw">{{stu.db_folder}}</td>
        <td>{{stu.mocktest1.total}}</td>
        <td>
            {% if 'onlinapp.change_student' in permissions %}
            <a href="{% url 'getcolleges' title.id %}/editstudent/{{stu.id}}">edit <i class="far fa-edit"></i></a>|
            {% endif %}
            {% if 'onlinapp.delete_student' in permissions %}
            <a href="{% url 'getcolleges' title.id %}/deletestudent/{{stu.id}}"> delete<i class="fas fa-user-minus"></i></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

{% else %}
    <p>No colleges are available.</p>
{% endif %}
</body>